# Laboratorio 2 Luis Pedro Zenteno

In [5]:
import numpy as np
import pandas as pd
heroes = pd.read_csv("heroes_information.csv")

In [6]:
###instalar desde anaconda navigator######
from pandasql import *

In [7]:
pysqldf = lambda q: sqldf(q,globals())

In [10]:
query2 = " SELECT * FROM heroes limit 10"

In [11]:
pysqldf(query2)

,id,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,None,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,None,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,None,bad,-99.0
5,5,Absorbing Man,Male,blue,Human,No Hair,193.0,Marvel Comics,None,bad,122.0
6,6,Adam Monroe,Male,blue,None,Blond,-99.0,NBC - Heroes,None,good,-99.0
7,7,Adam Strange,Male,blue,Human,Blond,185.0,DC Comics,None,good,88.0
8,8,Agent 13,Female,blue,None,Blond,173.0,Marvel Comics,None,good,61.0
9,9,Agent Bob,Male,brown,Human,Brown,178.0,Marvel Comics,None,good,81.0

## Cuál es el nombre del primer superhéroe de la tabla heroes?!

In [8]:
query3 = " SELECT name from heroes"

In [9]:
pysqldf(query3)

                name
0             A-Bomb
1         Abe Sapien
2           Abin Sur
3        Abomination
4            Abraxas
..               ...
729  Yellowjacket II
730             Ymir
731             Yoda
732          Zatanna
733             Zoom

[734 rows x 1 columns]

In [ ]:
#El nombre es A-BOMB

## Cuántas casas publicadoras existen?!

In [99]:
query4 = " SELECT COUNT(distinct publisher) FROM heroes"

In [100]:
pysqldf(query4)

   COUNT(distinct publisher)
0                         24

In [ ]:
#24 PUBLICADORAS

## Cuántos superhéroes miden más de 2 metros (200 cms)?

In [85]:
query5 = " SELECT count(*) as Superheroes  FROM heroes where height>200"

In [86]:
pysqldf(query5)

   Superheroes
0           59

In [ ]:
#59 Superhéroes

## Cuántos superhéroes son humanos y miden más de 2 metros (200 cms)?

In [113]:
query6 = " SELECT  COUNT(*) AS SUPERHEROES   FROM heroes where (Race='Human' and height>200)"

In [114]:
pysqldf(query6)

   SUPERHEROES
0           12

In [ ]:
#12 Superhéroes

## Cuántos superhéroes pesan más de 100 lbs y menos de 200 lbs?

In [107]:
query7 = " SELECT count(*) as Superheroes FROM heroes where weight between 100 and 200 "

In [108]:
pysqldf(query7)

   Superheroes
0           98

In [ ]:
#98 Superhéroes

## Cuántos superhéroes tienen los ojos de color azul o rojo?

In [109]:
query8 = " SELECT count(*) as Superheroes FROM heroes where [Eye color]= 'red' or [Eye color]= 'blue'"

In [110]:
pysqldf(query8)

   Superheroes
0          271

In [ ]:
#271 Superhéroes

## Cuántos superhéroes son Human, Mutant y tienen el pelo color Verde o son Vampiros con pelo Negro?

In [83]:
query9 = " SELECT COUNT(*)as Superheroes  FROM heroes where (((Race= 'Human' OR Race= 'Mutant') AND [Hair color]= 'Green')OR  (Race = 'Vampire' AND [Hair color] = 'Black'))  "

In [84]:
pysqldf(query9)

   Superheroes
0            5

In [ ]:
#5 Superhéroes

## Cuál es el nombre del primer superhéroe si ordeno la tabla por raza en orden descendente?

In [64]:
query10 = " SELECT * FROM heroes order by Race desc   "

In [65]:
pysqldf(query10)

,id,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,611,Solomon Grundy,Male,black,Zombie,White,279.0,DC Comics,None,bad,437.0
1,274,Gamora,Female,yellow,Zen-Whoberian,Black,183.0,Marvel Comics,green,good,77.0
2,731,Yoda,Male,brown,Yoda's species,White,66.0,George Lucas,green,good,17.0
3,527,Predator,Male,None,Yautja,None,213.0,Dark Horse Comics,None,bad,234.0
4,17,Alien,Male,None,Xenomorph XX121,No Hair,244.0,Dark Horse Comics,black,bad,169.0
...,...,...,...,...,...,...,...,...,...,...,...
729,723,Wondra,Female,None,None,None,-99.0,Marvel Comics,None,good,-99.0
730,724,Wyatt Wingfoot,Male,brown,None,Black,196.0,Marvel Comics,None,good,117.0
731,726,X-Man,Male,blue,None,Brown,175.0,Marvel Comics,None,good,61.0
732,727,Yellow Claw,Male,blue,None,No Hair,188.0,Marvel Comics,None,bad,95.0
733,733,Zoom,Male,red,None,Brown,185.0,DC Comics,None,bad,81.0

In [ ]:
# Solomon Grundy

## Cuántos superhéroes son de género masculino y cuántas de género femenino?

In [68]:
query11 = " SELECT count(Gender) FROM heroes group by Gender  "

In [69]:
pysqldf(query11)

   count(Gender)
0              0
1            200
2            505

In [ ]:
#200 mujeres, 505 hombres

## Cuántas casas publicadoras tienen más de 15 superhéroes?

In [97]:
query12 = " SELECT count(*) as Casas FROM heroes group by Publisher having count()>15 "

In [98]:
pysqldf(query12)

   Casas
0    215
1     18
2    388
3     19

In [ ]:
# 4 publicadoras